<div class="container-fluid">
    <h1>Order History</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Total Order Value</th>
                <th>Order Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="order-table-body">
            {{#each orders}}
                <tr data-order-id="{{this._id}}">
                    <td>{{this.firstName}} {{this.lastName}}</td>
                    <td></td>
                    <td>{{this.orderDate}}</td>
                    <td>
                        <button id='view-order-details' class="btn-primary" data-order-id="{{this._id}}">View details</button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div id="orderDetailModal" class="modal">
        <div class="modal-content">
            <span class="close">×</span>
            <div id="modal-order-details">
                <!-- Order details will be displayed here -->
            </div>
        </div>
    </div>
    <script src="/public/js/adminOrders.js"></script>
</div>