<div class="product_headings">
    <h1 class="main_head">Our Products</h1>
</div>
<!-- Search Bar -->
<div class="search_bar">
    <form method="post" id="search-product-form">
        <label for="productNameFilter" class="form-label" />
        <input type="text" id="searchFilterInput" placeholder="Search products..." name="productNameFilter">
        <button type=""><i class="fa fa-search"></i></button>
    </form>
</div>

<section class="product_gallery">
    {{!-- loop automatically --}}

    {{#each products}}
    <div class="product_card" data-product-id="{{this._id}}">
        <img src="/public/imgs/panadol-500mg-tablets.webp" alt="Product 1">
        <a href="/user/product/{{this._id}}">
            <h3>{{this.name}}</h3>
        </a>
        <p>${{this.price}}</p>
        <p class="card-text"><strong>Category: </strong>{{truncateDescription this.category}}</p>
        <br>

        <a href="#" class="add-to-cart">Buy Now</a>
    </div>
    {{/each}}

</section>
