<div class="container">
    <br>

    <form method="post">

        <label for="productNameFilter" class="form-label">Search</label>
        <input type="text" name="productNameFilter" class="form-input">

        <input type="submit" value="Search">
        <br>
    </form>

    {{!-- filters section --}}
    <section class="filters-section">
        <br>
        <h3>Advanced Filters</h3>
        <div>
            <div class="row">
                <div class="col-md-3">
                    <select name="filterCategory" id="filterCategory" class="form-input">
                        <option value="*">Category</option>
                        {{#each category}}
                        <option value="{{this.name}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
    </section>
    <br>
    <hr>
    <div class="row" id="productContainer">
        {{#each products}}
        <div class="col-md-3 mb-4">
            <div class="card product-card" data-product-id="{{this._id}}">
                <img src="{{this.coverImage}}" class="card-img-top product-image" alt="{{this.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text"><strong>Category: </strong>{{truncateDescription this.category}}</p>
                    <div class="d-flex align-items-center justify-content-end">
                        <p class="card-text product-price">${{this.price}}</p>
                    </div>
                    <div class="cart-controls" id="cart-controls-{{this._id}}">
                        <button class="btn btn-sm btn-primary add-to-cart w-100" data-product-id="{{this._id}}">
                            <i class="fas fa-cart-plus"></i>
                            <span>Add to Cart</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div id="productModal" class="modal">
    <div class="modal-content">
        <span class="close">×</span>
        <div id="modal-product-details">
        </div>
        <div id="modal-cart-controls">
        </div>
    </div>
</div>
<script src="/public/js/script.js"></script>
<script>
    document.getElementById('filterCategory').addEventListener('change', (event)=> {
        const filters = JSON.parse(sessionStorage.getItem('filters') || '{}');
    
        if("category" in filters) {
            const filterData = {...filters, "category": event.target.value}
            sessionStorage.setItem('filters', JSON.stringify(filterData))
        } else {
            const filters = {}
            filters.category = event.target.value
            sessionStorage.setItem('filters', JSON.stringify(filters))
        }

        fetch(`/user`, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json'
            },
            body: JSON.stringify(JSON.parse(sessionStorage.getItem('filters')))
        }).then((res) => {
            console.log(res)

        })
    })
</script>

{{!-- <div class="container-fluid mt-4">
    <div class="row">

        {{#each products}}
        <div class="col-md-4 mb-4">
            <div class="card product-card">
                <img src="{{this.coverImage}}" class="card-img-top product-image" alt="{{this.name}}">
                <div class="card-body">
                    <h5 class="card-title product-title">{{this.name}}</h5>
                    <p class="card-text product-price">${{this.price}}</p>
                    <p class="card-text product-description">
                        {{{truncateDescription this.description}}} <a href="#" class="read-more-link"
                            data-product-id="{{this._id}}">Read more</a>
                    </p>
                    <div class="add-to-cart-container">
                        <button class="btn btn-primary add-to-cart-btn" data-product-id="{{this._id}}">Add to
                            Cart</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div> --}}